<h1><%= human_name %></h1>

<table class='table'>
  <thead>
    <% attributes.reject(&:password_digest?).each do |attribute| -%>
<th><%= attribute.human_name %></th>
    <% end %>
    <th colspan=3>Actions</th>
  </thead>
  <tbody>
    <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
      <tr>
      <% attributes.reject(&:password_digest?).each do |attribute| -%>
  <td><%%= <%= singular_table_name %>.<%= attribute.column_name %> %></td>
      <% end %>
        <td><%%= link_to "Show", <%= singular_table_name %>_path(<%= singular_table_name %>) %></td>
        <td><%%= link_to "Edit", edit_<%= singular_table_name %>_path(<%= singular_table_name %>) %></td>
        <td>
          <%%= link_to "Delete", <%= singular_table_name %>_path(<%= singular_table_name %>),
            "data-turbo-method": :delete,
            "data-turbo-confirm": "Are you sure?" %>
        </td>
      </tr>
    <%% end %>
  </tbody>
</table>

<br>

<%%= link_to "New <%= human_name.downcase %>", new_<%= singular_route_name %>_path %>